// Color
$color1-lb: rgba(130, 204, 221,1.0);
$color2-lr: rgba(229, 80, 57,1.0);
$color4-dg: rgba(31, 33, 36, 1);
$color5-lw: rgba(255, 255, 255, 1);

// Font style
$font: 'Source Sans Pro', Helvetica Neue, sans-serif;
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
$font-black: 900;





